In [50]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
sb.set() # set the default Seaborn style for graphics

In [51]:
ddata = pd.read_csv('C:/Users/kavya/OneDrive/Desktop/diabetes.csv', header = None)
ddata.head()

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [52]:
ddata.columns = ddata.iloc[0]
ddata = ddata.drop(0)

In [53]:
ddata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0
765,2,122,70,27,0,36.8,0.34,27,0
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0

In [54]:
ddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 1 to 768
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    object
 1   Glucose                   768 non-null    object
 2   BloodPressure             768 non-null    object
 3   SkinThickness             768 non-null    object
 4   Insulin                   768 non-null    object
 5   BMI                       768 non-null    object
 6   DiabetesPedigreeFunction  768 non-null    object
 7   Age                       768 non-null    object
 8   Outcome                   768 non-null    object
dtypes: object(9)
memory usage: 54.1+ KB

In [55]:
ddata.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768,768,768,768,768,768,768,768,768
unique,17,136,47,51,186,248,517,52,2
top,1,99,70,0,0,32,0.258,22,0
freq,135,17,57,227,374,13,6,72,500

### Prdiction of Diabetes Type

In [56]:
def calculate_new_value(row):
    if (row['Outcome']) == '1':
        if((int(row['Insulin'])<25) and (int(row['Pregnancies'])<6)):
            return 1
        else:
            return 2

    else:
        return 0

ddata['Type']= ddata.apply(calculate_new_value,axis=1)
ddata.to_csv('diabetes.csv', index= False)

In [57]:
ddata

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Type
1,6,148,72,35,0,33.6,0.627,50,1,2
2,1,85,66,29,0,26.6,0.351,31,0,0
3,8,183,64,0,0,23.3,0.672,32,1,2
4,1,89,66,23,94,28.1,0.167,21,0,0
5,0,137,40,35,168,43.1,2.288,33,1,2
...,...,...,...,...,...,...,...,...,...,...
764,10,101,76,48,180,32.9,0.171,63,0,0
765,2,122,70,27,0,36.8,0.34,27,0,0
766,5,121,72,23,112,26.2,0.245,30,0,0
767,1,126,60,0,0,30.1,0.349,47,1,1
768,1,93,70,31,0,30.4,0.315,23,0,0

### Prediction of Risk of DKA and Risk of Hypertension

In [65]:
def calculate_dkaprone(row):
    if (row['Outcome']) == '1':
        if((int(row['Insulin'])<25) and (int(row['Pregnancies'])<6)):
            if(int(row['Age'])<30):
                return 1
            else :
                return 0
        else:
            return 0

    else:
        return 0

def calculate_Hypertension(row):
    if (row['Outcome']) == '1':
        if((int(row['Insulin'])<25) and (int(row['Pregnancies'])<6)):
            return 0
        else:
            if ((int(row['BloodPressure'])>80) and (int(row['BloodPressure'])<90)) :
                return 1
            elif ((int(row['BloodPressure'])>90) and (int(row['BloodPressure'])<119)):
                return 2
            elif ((int(row['BloodPressure'])>119)):
                return 3
            return 0

    else:
        return 0

ddata['DKAprone']= ddata.apply(calculate_dkaprone,axis=1)
ddata['Hypertension']= ddata.apply(calculate_Hypertension,axis=1)


ddata.to_csv('diabetes.csv', index= False)

In [66]:
ddata.describe()

0            Type    DKAprone  Hypertension
count  768.000000  768.000000    768.000000
mean     0.601562    0.042969      0.083333
std      0.863635    0.202919      0.328297
min      0.000000    0.000000      0.000000
25%      0.000000    0.000000      0.000000
50%      0.000000    0.000000      0.000000
75%      2.000000    0.000000      0.000000
max      2.000000    1.000000      2.000000